In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data/cleaned_dataset.csv')
data.head(10)

,Category,Resume,Name,cleaned_resume,year,overall_experience
0,6,Skills * Programming Languages: Python (pandas...,NIksfJOT,Skills Programming Languages Python pandas num...,"[2.0, 2.0, 2.0]",3
1,6,Education Details \r\nMay 2013 to May 2017 B.E...,UfdsvnG,Education Details May 2013 to May 2017 B E UIT...,"[1, 1.0, 1, 1, 1, 1, 1]",7
2,6,"Areas of Interest Deep Learning, Control Syste...",kOCvsi,Areas of Interest Deep Learning Control System...,"[1, 1, 1, 1, 1, 1, 1, 1]",8
3,6,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,xIkuVU,Skills R Python SAP HANA Tableau SAP HANA SQL ...,"[0.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 0.25, 0.66...",17
4,6,"Education Details \r\n MCA YMCAUST, Faridab...",vbBKES,Education Details MCA YMCAUST Faridabad Haryan...,"[1, 1, 1, 1, 1, 1]",6
5,6,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",NqnfGP,SKILLS C Basics IOT Python MATLAB Data Science...,"[1, 1, 1, 1, 1]",5
6,6,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,nBRBhMI,Skills Python Tableau Data Visualization R Stu...,"[1, 1.0833333333333333, 2.0, 2.0, 2.0, 2.0, 2.0]",7
7,6,Education Details \r\n B.Tech Rayat and Bahr...,GwjcVYUu,Education Details B Tech Rayat and Bahra Insti...,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 2]",10
8,6,Personal Skills â¢ Ability to quickly grasp t...,TLzKWL,Personal Skills Ability to quickly grasp techn...,[1],1
9,6,Expertise â Data and Quantitative Analysis â...,RhVvz,Expertise Data and Quantitative Analysis Decis...,"[0.5, 0.5, 0.5, 2.0, 2.0, 2.0, 3.0, 3.0, 2.0]",9

In [5]:
df = data.sort_values(by=['overall_experience'],  ascending=False)

In [7]:
df['cleaned_resume'][0]

'Skills Programming Languages Python pandas numpy scipy scikit learn matplotlib Sql Java JavaScript JQuery Machine learning Regression SVM Na ve Bayes KNN Random Forest Decision Trees Boosting techniques Cluster Analysis Word Embedding Sentiment Analysis Natural Language processing Dimensionality reduction Topic Modelling LDA NMF PCA Neural Nets Database Visualizations Mysql SqlServer Cassandra Hbase ElasticSearch D3 js DC js Plotly kibana matplotlib ggplot Tableau Others Regular Expression HTML CSS Angular 6 Logstash Kafka Python Flask Git Docker computer vision Open CV and understanding of Deep learning Education Details Data Science Assurance Associate Data Science Assurance Associate Ernst Young LLP Skill Details JAVASCRIPT Exprience 24 months jQuery Exprience 24 months Python Exprience 24 monthsCompany Details company Ernst Young LLP description Fraud Investigations and Dispute Services Assurance TECHNOLOGY ASSISTED REVIEW TAR Technology Assisted Review assists in a elerating the review process and run analytics and generate reports Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain this tool implements predictive coding and topic modelling by automating reviews resulting in reduced labor costs and time spent during the lawyers review Understand the end to end flow of the solution doing research and development for classification models predictive analysis and mining of the information present in text data Worked on analyzing the outputs and precision monitoring for the entire tool TAR assists in predictive coding topic modelling from the evidence by following EY standards Developed the classifier models in order to identify red flags and fraud related issues Tools Technologies Python scikit learn tfidf word2vec doc2vec cosine similarity Na ve Bayes LDA NMF for topic modelling Vader and text blob for sentiment analysis Matplot lib Tableau dashboard for reporting MULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS USA CLIENTS TEXT ANALYTICS MOTOR VEHICLE CUSTOMER REVIEW DATA Received customer feedback survey data for past one year Performed sentiment Positive Negative Neutral and time series analysis on customer comments across all 4 categories Created heat map of terms by survey category based on frequency of words Extracted Positive and Negative words across all the Survey categories and plotted Word cloud Created customized tableau dashboards for effective reporting and visualizations CHATBOT Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation reservation options and so on This chat bot serves entire product related questions Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant recommended questions Tools Technologies Python Natural language processing NLTK spacy topic modelling Sentiment analysis Word Embedding scikit learn JavaScript JQuery SqlServer INFORMATION GOVERNANCE Organizations to make informed decisions about all of the information they store The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk Scan data from multiple sources of formats and parse different file formats extract Meta data information push results for indexing elastic search and created customized interactive dashboards using kibana Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant Outdated or Trivial Preforming full text search analysis on elastic search with predefined methods which can tag as PII personally identifiable information social security numbers addresses names etc which frequently targeted during cyber attacks Tools Technologies Python Flask Elastic Search Kibana FRAUD ANALYTIC PLATFORM Fraud Analytics and investigative platform to review all red flag cases FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems It can be used by clients to interrogate their A ounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics Tools Technologies HTML JavaScript SqlServer JQuery CSS Bootstrap Node js D3 js DC js'

In [41]:
#program to create get the Resumes based on category
def find_category(category):
    rslt_df = df.loc[df['Category'] == category]
    rslt_df = rslt_df.loc[:,["Name","cleaned_resume"]]
    category = rslt_df.iloc[0:20]
    return category

In [43]:
category = find_category(5)
category

         Name                                     cleaned_resume
297   YZzdtJG  SKILLS 1 Autocad 2 Pro v 3 Catia 4 word excel ...
317      QOZo  COMPUTER KNOWLEDGE Drafting tools AutoCAD Pack...
315  EwGGEKvj  SKILLS 1 Autocad 2 Pro v 3 Catia 4 word excel ...
311   ycXgbtY  COMPUTER KNOWLEDGE Drafting tools AutoCAD Pack...
309      bzhb  SKILLS 1 Autocad 2 Pro v 3 Catia 4 word excel ...
305    fEvell  COMPUTER KNOWLEDGE Drafting tools AutoCAD Pack...
303   KKHGKRB  SKILLS 1 Autocad 2 Pro v 3 Catia 4 word excel ...
299    WvRhVx  COMPUTER KNOWLEDGE Drafting tools AutoCAD Pack...
300   ugMxZtK  PERSONAL SKILLS Passionate towards learning ne...
318   mGqTqmb  PERSONAL SKILLS Passionate towards learning ne...
296   aBZjcWl  Education Details January 2005 S S C Baramati ...
312      zcyP  PERSONAL SKILLS Passionate towards learning ne...
314    LoToza  Education Details January 2005 S S C Baramati ...
306     XGVKR  PERSONAL SKILLS Passionate towards learning ne...
308    BkEDnN  Education Details January 2005 S S C Baramati ...
302     akNGV  Education Details January 2005 S S C Baramati ...
298      NRAv  Computer Skills Holder of valid KSA license Ba...
301  MZWvxdXu  Education Details B E in Civil Engineering Civ...
304     JIVsC  Computer Skills Holder of valid KSA license Ba...
295    GZBfBK  Education Details B E in Civil Engineering Civ...