In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn.preprocessing import LabelEncoder
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split

import spacy
import yake
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack

In [19]:
resume = pd.read_csv("UpdatedResumeDataSet.csv")

In [20]:
resume.head(5)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [21]:
resume['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [22]:
resume.shape

(962, 2)

In [23]:
l = []

In [24]:
import random
import string

In [25]:
for i in range(962):
    letters = string.ascii_letters
    username = []
    for i in range(random.randint(4,8)):
        name = random.choice(letters)
        username.append(name)
    l.append(''.join(username))

In [26]:
lemm = WordNetLemmatizer()

In [27]:
print(resume['Resume'].iloc[6])

Skills â¢ Python â¢ Tableau â¢ Data Visualization â¢ R Studio â¢ Machine Learning â¢ Statistics IABAC Certified Data Scientist with versatile experience over 1+ years in managing business, data science consulting and leading innovation projects, bringing business ideas to working real world solutions. Being a strong advocator of augmented era, where human capabilities are enhanced by machines, Fahed is passionate about bringing business concepts in area of machine learning, AI, robotics etc., to real life solutions.Education Details
January 2017 B. Tech Computer Science & Engineering Mohali, Punjab Indo Global College of Engineering
Data Science Consultant

Data Science Consultant - Datamites
Skill Details
MACHINE LEARNING- Exprience - 13 months
PYTHON- Exprience - 24 months
SOLUTIONS- Exprience - 24 months
DATA SCIENCE- Exprience - 24 months
DATA VISUALIZATION- Exprience - 24 months
Tableau- Exprience - 24 monthsCompany Details
company - Datamites
description - â¢ Analyzed and processed complex data sets using advanced querying, visualization and analytics tools.
â¢ Responsible for loading, extracting and validation of client data.
â¢ Worked on manipulating, cleaning & processing data using python.
â¢ Used Tableau for data visualization.
company - Heretic Solutions Pvt Ltd
description - â¢ Worked closely with business to identify issues and used data to propose solutions for effective decision making.
â¢ Manipulating, cleansing & processing data using Python, Excel and R.
â¢ Analyzed raw data, drawing conclusions & developing recommendations.
â¢ Used machine learning tools and statistical techniques to produce solutions to problems.

In [34]:
resume['Name'] = l

In [35]:
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [36]:
resume['cleaned_resume'] = resume['Resume'].apply(cleanResume)

In [37]:
resume['cleaned_resume'] = resume['cleaned_resume'].apply(lambda x:lemm.lemmatize(x))

In [38]:
resume.head(5)

,Category,Resume,cleaned_resume,Name
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...,PknhrGQ
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...,sGEvAF
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...,qsDXw
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...,zvsCN
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...,sMTAYMY

In [39]:
print(resume['cleaned_resume'].iloc[7])

Education Details B Tech Rayat and Bahra Institute of Engineering and Biotechnology Data Science Data Science Skill Details Numpy Exprience Less than 1 year months Machine Learning Exprience Less than 1 year months Tensorflow Exprience Less than 1 year months Scikit Exprience Less than 1 year months Python Exprience Less than 1 year months GCP Exprience Less than 1 year months Pandas Exprience Less than 1 year months Neural Network Exprience Less than 1 year monthsCompany Details company Wipro description Bhawana Aggarwal E Mail bhawana chd Phone 09876971076 VVersatile high energy professional targeting challenging assignments in Machine PROFILE SUMMARY An IT professional with knowledge and experience of 2 years in Wipro Technologies in Machine Learning Deep Learning Data Science Python Software Development Skilled in managing end to end development and software products projects from inception requirement specs planning designing implementation configuration and documentation Knowledge on Python Machine Learning Deep Learning data Science Algorithms Neural Network NLP GCP Knowledge on Python Libraries like Numpy Pandas Seaborn Matplotlib Cufflinks Knowledge on different algorithms in Machine learning like KNN Decision Tree Bias variance Trade off Support vector Machine SVM Logistic Regression Neural networks Have knowledge on unsupervised Supervised and reinforcement data Programming experience in relational platforms like MySQL Oracle Have knowledge on Some programming language like C Java Experience in cloud based environment like Google Cloud Working on different Operating System like Linux Ubuntu Windows Good interpersonal and communication skills Problem solving skills with the ability to think laterally and to think with a medium term and long term perspective Flexibility and an open attitude to change Ability to create define and own frameworks with a strong emphasis on code reusability TECHNICAL SKILLS Programming Languages Python C Libraries Seaborn Numpy Pandas Cufflinks Matplotlib Algorithms KNN Decision Tree Linear regression Logistic Regression Neural Networks K means clustering Tensorflow SVM Databases SQL Oracle Operating Systems Linux Window Development Environments NetBeans Notebooks Sublime Ticketing tools Service Now Remedy Education UG Education B Tech Computer Science from Rayat and Bahra Institute of Engineering and Biotechnology passed with 78 4 in 2016 Schooling XII in 2012 from Moti Ram Arya Sr Secondary School Passed with 78 4 X in 2010 from Valley Public School Passed with 9 4 CGPA WORK EXPERINCE Title Wipro Neural Intelligence Platform Team Size 5 Brief Wipro s Neural Intelligence Platform harnesses the power of automation and artificial intelligence technologies natural language processing NLP cognitive machine learning and analytics The platform comprises three layers a data engagement platform that can easily a ess and manage multiple structured and unstructured data sources an intent assessment and reasoning engine that includes sentiment and predictive analytics and a deep machine learning engine that can sense act and learn over time The project entailed automating responses to user queries at the earliest The Monster Bot using the power of Deep Machine Learning NLP to handle such queries User can see the how their queries can be answered quickly like allL1 activities can be eliminated Entity Extractor This involves text extraction and NLP for fetching out important information from the text like dates names places contact numbers etc This involves Regex Bluemix NLU api s and machine learning using Tensor flow for further learning of new entities Classifier This involves the classifications of classes training of dataset and predicting the output using the SKLearn classifier MNB SVM SGD as Classifier and SGD for the optimization to map the user queries with the best suited response and make the system efficient NER A Deep Learning NER Model is trained to extract the entities from the text Entities like Roles Skills Organizations can be extracted from raw text RNN LSTM Bidirectional model is trained for extracting such entities using Keras TensorFlow framework OTHER PROJECTS Title Diabetes Detection Brief Developed the software which can detect whether the person is suffering from Diabetes or not and got the third prize in it TRAINING AND CE IFICATIONS Title Python Training Machine Learning Data Science Deep Learning Organization Udemy Coursera Machine Learning Deep Learning Personal Profile Father s Name Mr Tirlok Aggarwal Language Known English Hindi Marital Status Single Date of Birth Gender 1993 12 20 YYYY MM DD F company Wipro description Developing programs in Python company Wipro description Title Wipro Neural Intelligence Platform Team Size 5 Brief Wipro s Neural Intelligence Platform harnesses the power of automation and artificial intelligence technologies natural language processing NLP cognitive machine learning and analytics The platform comprises three layers a data engagement platform that can easily a ess and manage multiple structured and unstructured data sources an intent assessment and reasoning engine that includes sentiment and predictive analytics and a deep machine learning engine that can sense act and learn over time The project entailed automating responses to user queries at the earliest The Monster Bot using the power of Deep Machine Learning NLP to handle such queries User can see the how their queries can be answered quickly like allL1 activities can be eliminated Entity Extractor This involves text extraction and NLP for fetching out important information from the text like dates names places contact numbers etc This involves Regex Bluemix NLU api s and machine learning using Tensor flow for further learning of new entities Classifier This involves the classifications of classes training of dataset and predicting the output using the SKLearn classifier MNB SVM SGD as Classifier and SGD for the optimization to map the user queries with the best suited response and make the system efficient NER A Deep Learning NER Model is trained to extract the entities from the text Entities like Roles Skills Organizations can be extracted from raw text RNN LSTM Bidirectional model is trained for extracting such entities using Keras TensorFlow framework company Wipro Technologies description An IT professional with knowledge and experience of 2 years in Wipro Technologies in Machine Learning Deep Learning Data Science Python Software Development Skilled in managing end to end development and software products projects from inception requirement specs planning designing implementation configuration and documentation Knowledge on Python Machine Learning Deep Learning data Science Algorithms Neural Network NLP GCP Knowledge on Python Libraries like Numpy Pandas Seaborn Matplotlib Cufflinks Knowledge on different algorithms in Machine learning like KNN Decision Tree Bias variance Trade off Support vector Machine SVM Logistic Regression Neural networks Have knowledge on unsupervised Supervised and reinforcement data Programming experience in relational platforms like MySQL Oracle Have knowledge on Some programming language like C Java Experience in cloud based environment like Google Cloud Working on different Operating System like Linux Ubuntu Windows Good interpersonal and communication skills Problem solving skills with the ability to think laterally and to think with a medium term and long term perspective Flexibility and an open attitude to change Ability to create define and own frameworks with a strong emphasis on code reusability

In [45]:
X = resume[['Category','Name','cleaned_resume']]
y = resume['Category'].values

In [121]:
requiredText = resume['cleaned_resume'].values
requiredTarget = resume['Category'].values

word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    stop_words='english')
WordFeatures = word_vectorizer.fit_transform(requiredText)

print ("Feature completed .....")

X_train,X_test,y_train,y_test = train_test_split(WordFeatures,requiredTarget,random_state=42, test_size=0.2,
                                                 shuffle=True, stratify=requiredTarget)
print(X_train.shape)
print(X_test.shape)

Feature completed .....
(769, 7351)
(193, 7351)

In [88]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42, test_size=0.2)

In [89]:
X_train.reset_index(inplace=True)

In [90]:
X_train.drop("index",axis=1,inplace=True)

In [91]:
tfidf = TfidfVectorizer(stop_words="english")
tfidf_fit = tfidf.fit_transform(X_train['cleaned_resume'])

In [92]:
tfidf_fit.shape

(769, 7304)

In [93]:
from sklearn.metrics.pairwise import cosine_similarity

In [94]:
cosine_sim = cosine_similarity(tfidf_fit,tfidf_fit)

In [95]:
cosine_sim.shape

(769, 769)

In [96]:
index_sim = pd.Series(X_train.index, index=X_train['Category']).drop_duplicates()

In [97]:
index_sim.head()

Category
Automation Testing    0
Blockchain            1
Operations Manager    2
Health and fitness    3
Arts                  4
dtype: int64

In [112]:
def get_recommendations(title):
    idx = index_sim[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[0], reverse=True)
    sim_scores = sim_scores[1:20]
    
    resume_indices = [i[0] for i in sim_scores]
    return list(X_train['Name'].iloc[resume_indices].values)

In [115]:
valid = get_recommendations("DevOps Engineer")

In [118]:
valid

['DJOfwX',
 'wWMfD',
 'VQgNoRAa',
 'JQmR',
 'pcIAPSDQ',
 'SwdPNC',
 'QYXSSqDV',
 'lsqsS',
 'lszeXZMR',
 'OowbY',
 'wvZD',
 'vZXJ',
 'rOidU',
 'FJAVnJ',
 'CvjWfo',
 'upcYe',
 'itkiMdZd',
 'jUVmf',
 'AlbY']

In [121]:
X_train[X_train['Name'].apply(lambda x:x in valid)]['cleaned_resume'].iloc[3]

'TECHNICAL SKILLS Programming Languages C Web Technologies ASP NET MVC Web API Angular JQuery HTML5 CSS3 Bootstrap Database SQL Server 2014 IDE Visual Studio 2015 Visual Studio Code Office Packages MS Office A ess Word Excel Education Details January 2016 B Sc Computer Science Solapur Maharashtra Solapur University DOT NET Developer DOT NET Developer Navshar Global Software Skill Details NET Exprience 15 months ASP Exprience 15 months ASP NET Exprience 15 months BOOTSTRAP Exprience 15 months jQuery Exprience 15 months ASP NET MVC Exprience Less than 1 year months Angularjs Exprience Less than 1 year months C Exprience Less than 1 year months Entity Framework Exprience Less than 1 year monthsCompany Details company Navshar Global Software description 017 PROJECTS WORKED ON 1 Navnirman Tech Festival Navnirman Tech Festival is a technical event management application that is used to scheduling and organizing event Technologies ASP NET MVC SQL Server Entity Framework AJAX JQuery Role Involved Everywhere 2 Like Security The Like Security web application provides trusted services and man power as well labour management Technologies ASP NET MVC SQL Server Bootstrap AJAX JQuery Role Involved Everywhere 3 Performance Review In House Project This is an In House Web application which is used to fill the review for particular Employee by other employees who worked with him This application is very useful to take decision in appraisal of employee All the submitted review can be downloaded in PDF format as per selection Technologies ASP NET MVC Entity Framework SQL Server AJAX JQuery Role Involved Everywhere company None description None'

In [148]:
cosine_sim.shape

(769, 769)

In [114]:
index_sim = pd.Series(resume.index, index=resume['Name']).drop_duplicates()

In [120]:
get_recommendations()

<769x7351 sparse matrix of type '<class 'numpy.float64'>'
	with 129032 stored elements in Compressed Sparse Row format>

In [116]:
def get_recommendations(title):
    idx = index_sim[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    resume_indices = [i[0] for i in sim_scores]
    return list(resume['Name'].iloc[resume_indices].values)

In [91]:
data = "I have 2 months experience"
l = re.findall("\\d+ month|\\d+ year",data)
l

['2 month']

In [44]:
def filter_year_of_experience(data):
    all_date = re.findall("\\d+ months|\\d+ year|\\d+ years",data)
    years = []
    for date in all_date:
        if 'month' in date:
            re_month = re.findall("\\d+",date)
            years.append(int(re_month[0])/12)
        elif 'year' in date:
            re_year = re.findall("\\d+",date)
            years.append(int(re_year[0]))
    return sum(years)

In [100]:
resume['overall_experience'] = resume['year'].apply(filter_year_of_experience)

In [102]:
resume.to_csv("cleaned_dataset.csv",index=False)